.spacer {
  flex: 1 1 auto;
}
a {
  padding: 5px;
}
.mobile-nav {
  display: flex;
  flex-flow: column;
}
.menu-button {
  display: none;
}
.share-button {
  display: none;
}
mat-slide-toggle {
  display: none;
}
@media screen and (max-width: 1250px) {
  .nav-group {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
