.cols {
  display: flex;
  flex-flow: row;
  .left-col,
  .right-col {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    margin: 5px;
  }
}
.skills-container {
  width: 50%;
  font-size: 16px;
  font-weight: 500;
}
.short-info {
  p {
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .cols {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .left-col,
    .right-col {
      width: 100%;
      margin: 10px;
      padding: 5px;
    }
  }
}
