<mat-card>
  <mat-card-header>
    <mat-card-title> About </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="cols">
      <div class="left-col">
        <div class="short-info">
          <p>
            Hello! My name is Brian Berglund. I am currently working as a
            Software engineer specialized in Front-end Development
          </p>
        </div>
        <div class="skills-container">
          <app-skills></app-skills>
        </div>
      </div>
      <div class="right-col">some info go here （＾∀＾●）ﾉｼ</div>
    </div>
  </mat-card-content>
</mat-card>
