<mat-card>
  <mat-card-header>
    <mat-card-title> About </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="cols">
      <div class="left-col">
        <div class="short-info">
          <p>
            Hello! My name is Brian Berglund. I am currently working as a
            Software engineer specialized in Front-end Development
          </p>
        </div>
        <div class="skills-container">
          <p>My skills are:</p>
          <app-skills></app-skills>
        </div>
      </div>
      <div class="right-col">
        <img
          src="../../../assets/images/pexels-danny-meneses-943096.jpg"
          alt="Bilde av Danny Meneses fra Pexels"
        />
        <mat-label>Image from Pexels</mat-label>
      </div>
    </div>
  </mat-card-content>
</mat-card>
