<mat-card>
  <mat-card-header>
    <mat-card-title> Projects </mat-card-title>
  </mat-card-header>
  <mat-card-content class="projects">
    <ng-container *ngFor="let proj of projects">
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title>{{ proj.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="project-description">
            <p>{{ proj.description }}</p>
          </div>
          <div class="project-links">
            <p>Link to site: <a href="{{ proj.link }}">click me</a></p>
            <p>Link to repo: <a href="{{ proj.repo }}">no Click me!</a></p>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </mat-card-content>
</mat-card>
